fastapi
uvicorn
gunicorn
pydantic
sqlalchemy
psycopg2-binary
python-dotenv
pydantic-settings
alembic
razorpay
phonenumbers
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

